---
title: Blog
layout: application
active: blog
---

{% for post in site.posts limit:1 %}
  <div class="latest-post h-entry">
    <!-- latest post -->
    <article>
      <h1 class="p-name"><a href="{{post.url}}" class="u-url">{{post.title}}</a></h1>
      <p><time class="created timestamp dt-published" datetime="{{post.created_at | date:'%FT%T%:z' }}">{{post.created_at | date: '%-d %B %Y' }}</time></p>
      {{ post.content }}
    </article>
  </div>
{% endfor %}

<div class="recent-posts h-feed">
  <ol>
  {% for post in site.posts limit:9 offset:1 %}
    <li class="h-entry">
      <section>
        <h1><a href="{{post.url}}" class="p-name u-url">{{post.title}}</a></h1>
        <p><time class="created timestamp dt-published" datetime="{{post.created_at | date:'%FT%T%:z' }}"> {{post.created_at | date: '%-d %B %Y' }}</time></p>
        {{ post.excerpt }}
        <a href="{{post.url}}">Continue reading &gt;</a>
      </section>
    </li>
  {% endfor %}
  </ol>
</div>
