---
title: Blog
layout: application
---

{% for post in site.posts limit:1 %}
  <div class="latest-post h-entry">
    <!-- latest post -->
    <h1 class="p-name"><a href="{{post.url}}" class="u-url">{{post.title}}</a></h1>
    <time class="created timestamp dt-published" datetime="{{post.created_at | date:'%FT%T%:z' }}">{{post.created_at | date:'%F' }}</time>

    <div class="e-content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<div class="recent-posts h-feed">
  <ol>
  {% for post in site.posts limit:9 offset:1 %}
    <li class="h-entry">
      <section>
        <h1><a href="{{post.url}}" class="p-name u-url">{{post.title}}</a></h1>
        {{ post.excerpt }}
      </section>
    </li>
  {% endfor %}
  </ol>
</div>
