---
layout: application
active: blog
---

<article>
<h1>{{page.title}}</h1>
<p><time class="created timestamp dt-published" datetime="{{page.created_at | date:'%FT%T%:z' }}">{{page.created_at | date: '%-d %B %Y' }}</time></p>

{{content}}
</article>

<h3 class="about">About the author</h3>
<p>Veronica Erb designs, researches, illustrates, and writes code. She plays ukulele, dances Balboa, and edits Wikipedia. She grew up in a geodesic dome, and hasn't gotten over it.</p>

<p>Say hey to Veronica on <a href="https://twitter.com/verbistheword">Twitter at @verbistheword</a>.</p>